/* Color Pallette
#fae5df #f5cac2 #ed7966 #303179 #141850
*/

body{
    background-color: rgb(22, 35, 46);
    font-family: montserrat;
    padding-top: 50px;
}

div#main-header {
    color: seashell;
    border-radius: 25px;
    text-align: center;
    background-color: #2b6777;
    margin-left: 15%;
    margin-right: 15%;  
}

h1#firstH1:hover {
    background-color: red;
    border-radius: 25px;
}

div.column{
    min-width: 500px;
    float: left;
    width: 31.66%;
    padding-left: 10px;
    padding-right: 10px;
}

div h2{
    border-radius: 25px;
    background-color: #c8d8e4;
    text-align: center;
}
p#name, #soLong{
    text-align: center;
}

div.content{
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 25px;
    background-color: #f2f2f2;   
}

p#css, #javascript, #html, #google{
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
    background-color: #c8d8e4;
    text-align: center;
}

p#aboutMeBlurb{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

p#reasonsWhy{
    padding-left: 10px;
    padding-right: 10px;
}

ul#reasons, #googleList{
    padding-right: 25px;
}

#saveMe{
    background-color: turquoise;
}

div#pics img{ 
    padding: 5px;
    max-width: 240px;
    max-height: 300px;
}

div#pics{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

div.pictures{
    justify-content: center;
    flex: 50%;
    
}

